html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* INDEX */
.title-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}

#create-chat-btn {
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    color: azure;
    padding: 1rem;
    border-radius: 5px;
    background-color: #00bfff;
    cursor: pointer;
}

#create-chat-btn:hover {
    background-color: #00beee;
}

#chat-code-input {
    font-size: 1rem;
    padding: .8rem;
}

#join-chat-btn {
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 5px;
}

.btn-active {
    background-color: #3edada;
    color: azure;
    cursor: pointer;
}

.btn-active:hover {
    background-color: #3edbeb;
}

/* CLIENT CHAT */
.chat-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80vw;
}

/* CHAT HEADER */
.chat-header {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    border: 1px solid;
    margin-bottom: 1rem;
}

.user-list-title {
    margin-bottom: 0;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.user-item {
    background-color: beige;
    padding: 0 .3rem;
    margin-right: .5rem;
}

/* CHAT BOX */
.chat-box {
    padding: .5rem;
    border: .1rem solid;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.chat-bubble {
    position: relative;
    width: fit-content;
    max-width: 50ch;
    margin-bottom: 1rem;
    padding: .1rem 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.chat-bubble--right {
    align-self: flex-end;
    background-color: cornsilk;
}

.chat-bubble--right > .chat-user {
    align-self: flex-start;
}

.chat-box .chat-bubble p{
    margin: 0;
}

.chat-box .chat-bubble .chat-user{
    font-size: .8rem;
    font-weight: 600;
}

.chat-time {
    font-size: .6rem;
    align-self: flex-end;
}

.chat-input {
    display: inline-flex;
    padding-top: .5rem;
}

#chat-input-text {
    border: 1px solid;
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
}

.chat-info {
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: .8rem;
    font-style: italic;
}